.divBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.botonOnOff {

}



.ocultar {
    display: none;
}

.principal {
    background-image: none;
    margin-left: 0;
    margin-right: 0;
}

.top {
    position: fixed;
    top: 0;
    height: 15%;
    width: 100%;
    margin-left: 0;
    background-color: #8E9EFF;
    display: flex;
    min-height: 100px;
}

.header-left-grande {
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.header-left-pequeño {
    display: none;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.botonMenu {
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid black;
    padding: 10px;
    background-color: transparent;
    font-weight: bold;
    font-size: large;
}

.dropdown-menu {
    display: none;
}

.botonMenu:hover .dropdown-menu {
    display: flex;
}

.header-right {
    display: flex;
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.seleccion-idioma {
    margin-top: 0;
    border: 2px black solid;
    padding: 10px;
    background-color: transparent;
    font-weight: bold;
    font-size: x-large;
}

.listaHeader {
    text-align: center;
    list-style: none;
    display: block;
    width: 100%;
    padding-inline-start: 0;
}

.menu {
    margin-left: auto;
    margin-right: 5%;
    display: inline;
    text-align: center;
    margin-top: 0;
}

.button {
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.button:hover {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 10%;
    color: #7ABA96;
}

.a-header {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 767px) {
    .a-header {
        font-size: 200%;
    }
    .seleccion-idioma {
        font-size: large;
    }
    .header-left-grande {
        display: none;
    }
    .header-left-pequeño {
        display: flex;
    }
    .header-right {
        margin-right: 70px;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 991px) {
    .a-header {
        font-size: 170%;
    }  
}
  
@media screen and (min-width: 992px) {
    .a-header {
        font-size: 180%;
    } 
}