.divBoton {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.botonOnOff {
    appearance: none;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    font-size: x-large;
    margin-top: -30px;
}

.principal {
    background-image: url(/imagenes/body-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity:97%;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(29, 27, 27, 0.953);
}

.top {
    position: fixed;
    top: 0;
    height: 15%;
    width: 100%;
    margin-left: 0;
    background-image: url("/imagenes/header-web1.PNG");
    background-color: #8E9EFF;
    display: flex;
    min-height: 100px;
    border-bottom: 4px solid rgb(66, 155, 167);
}

.header-left-grande {
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.header-left-pequeño {
    display: none;
    height: 100%;
    width: 75%;
    align-items: center;
    justify-content: center;
    min-width: 230px;
}

.botonMenu {
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid rgba(99, 237, 255, 0.584);
    padding: 10px;
    background-color: black;
    opacity: 100%;
    color: white;
    font-weight: bold;
    font-size: large;
}

.dropdown-menu {
    display: none;
    padding-inline-start: 0;
    margin-top: 183px;
    margin-right: -3%;
}

.animacion-a {
    animation-name: aparecer;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }
  
@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.botonMenu:hover .dropdown-menu {
    display: grid;
}

.animacion-d {
    animation-name: desaparecer;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  
@keyframes desaparecer {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.header-right {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.seleccion-idioma {
    margin-top: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: x-large;
    color: white;
    background-size: 10px;
    outline: none;
    box-sizing: border-box;
}

.div-seleccion {
    border: 2px rgba(99, 237, 255, 0.584) solid;
    width: 80px;
    background-color: black;
    opacity: 90%;
    display: flex;
    padding: 10px;
    padding-right: 0;
    align-items: center;
    justify-content: center;
}

.lista-menu {
    border: 2px solid black;
    margin-right: 5%;
    padding: 10px;
    display:grid;
    background-color: rgb(66, 155, 167);
    text-align: center;
    margin-top: -1px;
    margin-bottom: -2px;
    margin-left: -2px;
    opacity: 100%;
}

.listaHeader {
    text-align: center;
    list-style: none;
    display: block;
    width: 100%;
    padding-inline-start: 0;
}

.menu {
    margin-left: auto;
    margin-right: 5%;
    display: inline;
    text-align: center;
    margin-top: 0;
}

.button {
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.button:hover {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #7ABA96;
}

.a-header {
    text-decoration: none;
    color: inherit;
    background-color: black;
    opacity: 90%;
    padding: 10px;
}

.a-header2 {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

.despues-header {
    border-radius: 10px;
    border: 2px solid rgba(99, 237, 255, 0.584);
    background-color: rgb(20, 19, 19);
    padding: 20px;
    width: 70%;
    height: auto;
    margin-top: 105px;
    margin-left: 20px;
    float: left;
    min-width: 200px;
    min-height: 150px;
}

.aside-derecho {
    width: 20%;
    height: auto;
    margin-top: 105px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segundo-div {
    border-radius: 10px;
    border: 2px solid rgba(99, 237, 255, 0.584);
    background-color: rgb(20, 19, 19);
    padding: 20px;
    width: 70%;
    height: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 25px;
    float: left;
}

.img-aside {
    height: 100px;
    width: 100px;
}

p {
    text-align: justify;
    color: white;
}

.lista-sobremi {
    margin-bottom: 8px;
    color: white;

}

.letra-large {
    font-size: large;
}

footer {
    display: flex;
    border-top: 4px solid rgb(66, 155, 167);
    width: 100%;
    height: 20%;
    background-color: black;
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('../fuentes/PermanentMarker-Regular.ttf') format('truetype');
}

select {
    font-family: Arial, Helvetica, sans-serif;
}

a.a-header {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

a.a-header2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'PermanentMarker';
    font-weight: normal;
    color: white;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 767px) {
    .a-header {
        font-size: 200%;
    }
    .a-header2 {
        font-size: large;
    }
    .seleccion-idioma {
        font-size: large;
    }
    .header-left-grande {
        display: none;
    }
    .header-left-pequeño {
        display: flex;
    }
    .header-right {
        margin-right: 5%;
    }
    .div-seleccion {
        align-items: normal;
    }
    .aside-derecho {
        display: none;
    }
    .despues-header {
        width: 80%;
        margin-top: 115px;
        min-height: 250px;
    }
    .segundo-div {
        margin-top: 15px;
        width: 80%;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 991px) {
    .a-header {
        font-size: 170%;
    }
    .aside-derecho {
        height: 30%;
        margin-top: 130px;
    }
    .despues-header {
        margin-top: 130px;
    }
    .segundo-div {
        margin-top: 25px;
    }
}
  
@media screen and (min-width: 992px) {
    .a-header {
        font-size: 180%;
    } 
    .aside-derecho {
        margin-top: 130px;
        height: 30%;
    }
    .despues-header {
        margin-top: 130px;
    }
    .segundo-div {
        margin-top: 25px;
    }
    .img-aside {
        height: 150px;
        width: 150px;
    }
}