.divBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.botonOnOff {

}



.ocultar {
    display: none;
}

.principal {
    background-image: none;
    margin-left: 0;
    margin-right: 0;
}

.top {
    position: fixed;
    top: 0;
    height: 15%;
    width: 100%;
    margin-left: 0;
    background-color: #8E9EFF;
    display: flex;
    min-height: 100px;
}

.header-left-grande {
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.header-left-pequeño {
    display: none;
    height: 100%;
    width: 75%;
    align-items: center;
    justify-content: center;
}

.botonMenu {
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid black;
    padding: 10px;
    background-color: transparent;
    font-weight: bold;
    font-size: large;
}

.dropdown-menu {
    display: none;
    padding-inline-start: 0;
    margin-top: 183px;
    margin-right: -3%;
}

.animacion-a {
    animation-name: aparecer;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }
  
@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.botonMenu:hover .dropdown-menu {
    display: grid;
}

.animacion-d {
    animation-name: desaparecer;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  
@keyframes desaparecer {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.header-right {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.seleccion-idioma {
    margin-top: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: x-large;
    background-size: 10px;
}

.div-seleccion {
    display: inherit;
    border: 2px black solid;
    width: 80px;
    padding: 10px;
    padding-right: 0;
}

.lista-menu {
    border: 2px solid black;
    margin-right: 5%;
    padding: 10px;
    display:grid;
    background-color: aqua;
    text-align: center;
    margin-top: -1px;
    margin-bottom: -2px;
    margin-left: -2px;
}

.listaHeader {
    text-align: center;
    list-style: none;
    display: block;
    width: 100%;
    padding-inline-start: 0;
}

.menu {
    margin-left: auto;
    margin-right: 5%;
    display: inline;
    text-align: center;
    margin-top: 0;
}

.button {
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.button:hover {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 10%;
    color: #7ABA96;
}

.a-header {
    text-decoration: none;
    color: inherit;
}

.a-header2 {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}


@media screen and (max-width: 767px) {
    .a-header {
        font-size: 200%;
    }
    .a-header2 {
        font-size: large;
    }
    .seleccion-idioma {
        font-size: large;
    }
    .header-left-grande {
        display: none;
    }
    .header-left-pequeño {
        display: flex;
    }
    .header-right {
        margin-right: 5%;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 991px) {
    .a-header {
        font-size: 170%;
    }  
}
  
@media screen and (min-width: 992px) {
    .a-header {
        font-size: 180%;
    } 
}