.estilo-borrado {
    background-color: rgba(29, 27, 27, 0.953);
    background-color: #8E9EFF;
}

.divBoton {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.botonOnOff {
    appearance: none;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    font-size: x-large;
    margin-top: -30px;
}

.principal {
    background-color: #e7e7e7;
    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity:100%;
    margin: 0;
    text-align: justify;
}

.top {
    position: fixed;
    top: 0;
    height: 15%;
    width: 100%;
    margin-left: 0;
    /*background-image: url("../imagenes/header-web1.PNG");*/
    background-color: black;
    display: flex;
    min-height: 100px;
    min-width: 300px;
    border-bottom: 4px solid rgb(66, 155, 167);
}

.header-left-grande {
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.header-left-pequeño {
    display: none;
    height: 100%;
    width: 75%;
    align-items: center;
    justify-content: center;
    min-width: 230px;
}

.botonMenu {
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid rgba(99, 237, 255, 0.584);
    padding: 10px;
    background-color: black;
    opacity: 100%;
    color: white;
    font-weight: bold;
    font-size: large;
}

.dropdown-menu {
    display: none;
    padding-inline-start: 0;
    margin-top: 139px;
    margin-right: -3%;
}

.animacion-a {
    animation-name: aparecer;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }
  
@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.botonMenu:hover .dropdown-menu {
    display: grid;
}

/*.animacion-d {
    animation-name: desaparecer;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  } */
  
@keyframes desaparecer {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.header-right {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.seleccion-idioma {
    margin-top: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: x-large;
    color: white;
    background-size: 10px;
    outline: none;
    box-sizing: border-box;
}

.seleccion-idioma option {
    background-color: #429ba7;
    color: black;
    outline: none;
}

.div-seleccion {
    border: 2px rgba(99, 237, 255, 0.584) solid;
    width: 80px;
    background-color: black;
    opacity: 90%;
    display: flex;
    padding: 10px;
    margin-right: 40px;
    padding-right: 0;
    align-items: center;
    justify-content: center;
}

.lista-menu {
    border: 2px solid black;
    margin-right: 5%;
    padding: 10px;
    display:grid;
    background-color: #429ba7;
    text-align: center;
    margin-top: -1px;
    margin-bottom: -2px;
    margin-left: -2px;
    opacity: 100%;
}

.listaHeader {
    text-align: center;
    list-style: none;
    display: block;
    width: 100%;
    padding-inline-start: 0;
}

.menu {
    margin-left: auto;
    margin-right: 5%;
    display: inline;
    text-align: center;
    margin-top: 0;
}

.button {
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.button:hover {
    border: none;
    font-weight: bold;
    color: rgb(66, 155, 167);
}

.a-header {
    text-decoration: none;
    color: inherit;
    background-color: black;
    opacity: 90%;
    padding: 10px;
}

.a-header2 {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

.button-darkmode {
    padding: 9px; 
    border-left: 10px;
    background-color: khaki;
}

.despues-header {
    border-radius: 10px;
    border: 2px solid #a4a5a594;
    background-color: #c2c2c2;
    padding: 20px;
    width: 70%;
    height: auto;
    margin-top: 18vh;
    margin-left: 20px;
    float: left;
    min-height: 150px;
}

.aside-derecho {
    width: 20%;
    height: auto;
    margin-top: 105px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segundo-div {
    border-radius: 10px;
    border: 2px solid #a4a5a594;
    background-color: #c2c2c2;
    margin-top: 18vh;
    padding: 20px;
    width: 33%;
    height: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 25px;
    float: left;
}

.tercer-div {
    width: 54%;
}

.desplegable {
    height: 4%;
    min-height: 20px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.desplegable-oculto {
    /*transition: opacity 0.5s ease-in-out;*/
    /*border-bottom: 1px solid black;*/
}

.titulo-desplegable {
    margin-top: 0;
    margin-bottom: 0;
}

.flecha-abajo {
    height: 20px;
    width: 25px;
}

.img-aside {
    height: 100px;
    width: 100px;
}

/* p {
    text-align: justify;
    color: rgb(0, 0, 0);
} */

.lista-sobremi {
    margin-bottom: 8px;

}

.letra-divs {
    margin-top: 10px;
}

.letra-large {
    font-size: large;
}

.letra-footer {
    color: white;
    margin-left: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.titulo-footer {
    font-size: x-large;
}

footer {
    display: flex;
    border-top: 4px solid rgb(66, 155, 167);
    width: 100%;
    height: 22%;
    background-color: black;
    margin-bottom: -8px;
    min-width: 300px;
    min-height: 160px;
}

.footer-left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@font-face {
    font-family: 'PermanentMarker';
    src: url('../fuentes/PermanentMarker-Regular.ttf') format('truetype');
}

select {
    font-family: Arial, Helvetica, sans-serif;
}

a.a-header {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

a.a-header2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'PermanentMarker';
    font-weight: normal;
    color: rgb(0, 0, 0);
}

* {
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 767px) {
    .a-header {
        font-size: 200%;
    }
    .a-header2 {
        font-size: large;
    }
    .seleccion-idioma {
        font-size: large;
    }
    .header-left-grande {
        display: none;
    }
    .header-left-pequeño {
        display: flex;
        width: 60%;
    }
    .header-right {
        margin-right: 5%;
        width: 40%;
    }
    .div-seleccion {
        align-items: normal;
        margin-right: 10px;
    }
    .aside-derecho {
        display: none;
    }
    .despues-header {
        width: 80%;
        min-height: 250px;
        min-width: 300px;
    }
    .segundo-div {
        margin-top: 15px;
        width: 80%;
        min-width: 300px;
    }
    .tercer-div {
        margin-top: -12px;
        min-width: 300px;
    }
    .button-darkmode {
        padding: 5px;
    }
    .agrandar-footer {
        display: none;
    }
    .footer-left {
        width: 64%;
    }
}
  
@media screen and (min-width: 767px) and (max-width: 1015px) {
    .a-header {
        font-size: 170%;
    }
    .aside-derecho {
        height: 30%;
        margin-top: 130px;
    }
    .despues-header {
        width: 41%;
        margin-top: 20vh;
    }
    .segundo-div {
        margin-top: 20vh;
        height: auto;
        width: 41%;
    }
    .tercer-div {
        margin-top: 15px;
        width: 91%;
    }
    .letra-footer {
        margin-left: 120px;
    }
    .agrandar-footer {
        display: none;
    }
}
  
@media screen and (min-width: 1015px) and (max-width: 2400px) {
    .a-header {
        font-size: 180%;
    } 
    .aside-derecho {
        margin-top: 130px;
        height: 30%;
    }
    .despues-header {
        min-height: 52%;
        height: auto;
        width: 27%;
        margin-top: 22vh;
        /*margin-left: 50px;*/
        margin-bottom: 52px;
        padding-bottom: 5px;
    }
    .segundo-div {
        min-height: 50%;
        height: auto;
        width: 27%;
        margin-top: 22vh;
    }
    .img-aside {
        height: 150px;
        width: 150px;
    }
    .letra-footer {
        margin-left: 120px;
    }
}

@media screen and (min-width: 2400px) {
    .a-header {
        font-size: 180%;
    } 
    .aside-derecho {
        margin-top: 130px;
        height: 30%;
    }
    .div-seleccion {
        height: 100px;
        width: 200px;
    }
    .button-darkmode {
        width: 130px;
        height: 130px;
        padding: 5px;
    }
    .despues-header {
        min-height: 52%;
        height: auto;
        width: 27%;
        /*margin-left: 50px;*/
        margin-top: 20vh;
        margin-bottom: 52px;
        padding-bottom: 5px;
        font-size: xx-large;
    }
    .segundo-div {
        min-height: 50%;
        height: auto;
        width: 27%;
        margin-top: 20vh;
        font-size: xx-large;
    }
    .img-aside {
        height: 150px;
        width: 150px;
    }
    .letra-footer {
        margin-left: 120px;
    }
    .letra-large, .letra-divs {
        font-size: xx-large;
    }
    a.a-header {
        font-size: 480%;
    }
    
    a.a-header2 {
        font-size: 320%;
    }
    .titulo-footer {
        font-size: 400%;
    }
    .letra-footer {
        font-size: 320%;
    }
    .agrandar-footer {
        height: 7vh;
    }
}

@media screen and (max-height: 600px) {
    .top {
        position: relative;
    }
    .despues-header {
        margin-top: 5%;
    }
    .segundo-div {
        margin-top: 5%;
    }
    #contenedorPrincipal {
        margin-top: -8px;
        margin-bottom: -8px;
    }
}